h1{
    color: rgba(204, 117, 255, 0.959);
    padding:20px;
    margin: 0px;
    font-style: italic;
    border-radius: 100%;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: aquamarine;
    font-style: italic;
    text-align: end;
    text-decoration: underline;
}

#health{
    margin-left:-20px;
}
.box{
    color: aquamarine;
    background-color: rgba(128, 128, 128, 0.3);
    font-style: italic;
    font-style: oblique;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s;
    overflow:hidden;
    text-overflow: clip;
    display: inline-block;
    width: 500px;
    height: 1000px;

}
.box:hover{
    border: 7px solid rgb(255, 192, 203);
    
}

.l1{
    display: inline
}
.l2{
    display: inline
}

div{
    margin: 10px;
    padding: 20px;
}
.image{
    border: 2px solid rgb(255, 192, 203);
    border-radius: 30%;
}
#news{
    color: firebrick;
    font-size: 100px;
    font-style: oblique;
    margin: 10px;
    text-decoration: underline;

}

body{
    background: url(https://images7.alphacoders.com/546/thumb-1920-546605.jpg);
    background-repeat: no-repeat;
    background-size: 300%;
}
